# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.secret

# Cache
.npm-cache
.eslintcache
.stylelintcache

# Testing
coverage/

# Functions
functions/index.html

# Firebase & Environment
.env
.env.*
!.env.example
emulator-data/
.firebase/
*-debug.log
