# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Cache
.npm-cache
.eslintcache
.stylelintcache
.npm-cache/_cacache/index-v5/12/e6/adcab1be7b7fc14da117a64bb8a260f85ebe31592aac409bef55659ce4f9
